[Unit]
Description=photobooth

[Service]
Environment="HOSTNAME=%H"
WorkingDirectory=/home/ghall/code/photobooth
User=ghall
ExecStart=supervisord

[Install]
WantedBy=multi-user.target
